/* 
^ Styling the drop-down menu for language switcher
* Auther : Isse S . Ibrahim
* URL : https://mezdunaame.tk
*/

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
body {
    font-family: 'Didact Gothic', sans-serif;
    color:#333;
        box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
   
    background-color: #f2f2f2;
    height: 110px;
    padding: 10px 0;
    
}

nav {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100px;
    
}

.langWrap {
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
}
.langWrap .selected-lang {
    display: flex;   
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
}
.langWrap .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://www.countryflags.io/us/flat/32.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.langWrap ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 45px;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.langWrap ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.langWrap ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
}

.langWrap li:hover {
    background-color: #f2f2f2;
}

.langWrap ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.langWrap .en:before {
    background-image: url(https://www.countryflags.io/en/flat/32.png);
}

.langWrap .en:before {
    background-image: url(https://www.countryflags.io/us/flat/32.png);
}
.langWrap .kz:before {
    background-image: url(https://www.countryflags.io/kz/flat/32.png);
}

.langWrap .jp:before {
    background-image: url(https://www.countryflags.io/jp/flat/32.png);
}
.langWrap .ae:before {
    background-image: url(https://www.countryflags.io/ae/flat/32.png);
}
.langWrap .so:before {
    background-image: url(https://www.countryflags.io/so/flat/32.png);
}


.langWrap:hover ul {
    display: block;
}
.active {
    background-color: #f2f2f2;
}
.myImg{
    margin-top: 5px;
    width: 100px;
    cursor: pointer;
}
